.detailsContainer {
    margin-top: -30px;
}

.detailsTitle {
    font-size: 60px;
}

.detailsText {
    color: #fff;
    font-size: 14px;
    margin-top: 15px;
    text-shadow: 1px 1px 1px #111111;
}

.genres {
    font-style: italic;
    font-size: 14px;
    margin-left: 5px;
}

.detailsBadge {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.detailsBadge span {
    padding: 10px;
    width: 80px;
}