@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

html,body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #F7F7F2;
    font-family: 'Roboto', sans-serif ;
}

.slide-button {
    border: 0;
    background: transparent;
    margin-bottom: 15px;
    width: 100%;
    height: 100px;
}

.carousel {
    width: 100%;
    margin: auto;
}

.carousel-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    align-items: center;
}

.container {
    margin-top: 30px;
}

.title {
    text-align: center;
    font-size: 30px;
    letter-spacing: 6px;
}

.gridTitle {
    font-size: 25px;
    margin-bottom: 25px;
}

.series-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 50px;
    margin-bottom: 30px;
}

.detailsContainer {
    margin-top: -30px;
}

.detailsTitle {
    font-size: 60px;
}

.detailsText {
    color: #fff;
    font-size: 14px;
    margin-top: 15px;
    text-shadow: 1px 1px 1px #111111;
}

.genres {
    font-style: italic;
    font-size: 14px;
    margin-left: 5px;
}

.detailsBadge {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.detailsBadge span {
    padding: 8px;
    width: 80;
}