@import url('https://fonts.googleapis.com/css?family=Zilla+Slab&display=swap');

html,body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #F7F7F2;
    font-family: 'Zilla Slab', sans-serif;
}

.slide-button {
    border: 0;
    background: transparent;
    margin-bottom: 15px;
    width: 100px;
    height: 100px;
    align-self: center;
}

.carousel {
    width: 100%;
    margin: auto;
    padding: 15px 0 15px 120px;
}

.carousel-container {
    display: grid;
    grid-template-columns: 0.5fr 1fr 0.5fr;
}

.container {
    margin-top: 30px;
}

h2 {
    text-align: center;
    margin: 20px 0;
    font-weight: bold;
}

.series-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 50px;
}